//VARIABLES
$white: #ffffff;
$white1: #E6E6E6;
$white2: #CCCCCC;
$black: #000000;
$gray: #b5b5b6;
$light-purple: #9a93ad;
$red-light: #d71618;
$red-dark: #cd0f03;

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url(../imgs/bg.webp) repeat;
}


//@media screen and (max-width: 820px) {

//menu amburguesa inicio
.menu {
  font-size: 40px;
  color: $white;
  display: inline-block;
  margin: 0 0 0 2%;
}

.header_menu {
  background-color: $black;
}

.menu-body {
  background: url(../imgs/rayo.webp);
  background-color: $red-light;
}

.logo-menu {
  width: 20%;
  margin: 0 0 0 40%;
}

.imagenlogo {
  text-align: center;
}

.boton-cerrar {
  background-color: $white;
}

hr {
  color: $white;
  width: 5em;
  margin: auto;
  border: 1.5px solid;
}

.elementos-menu {
  text-align: center;

}

.menu-title {
  width: 40%;
  margin: 0 0 1em 0;
}

.menu-item {
  margin: 0.5em;
}

//menu amburguesa Fin


// top bar inicio
.top-bar {
  background-color: $black;
}

.logo-top-bar {
  padding: 0.5em;
  margin: -4% 0 0 28%;
  width: 20%;
}

.boton-buscar {
  color: $white;
  background-color: $black;
  border: none;
}

// top bar fin


// top bar buscar inicio

.lupa {
  text-decoration: none;
  font-size: 2em;
  color: $white;
  display: inline-block;
}


.boton-buscar {
  color: $white;
  background-color: $black;
  border: none;
}

.barra-buscar {
  margin: 0 10%;
}

.icono-buscar {
  left: 88%;
  top: 1em;
  position: absolute;
}

.mob-close {
  color: #ffff;
  font-size: 2em;
  background: none;
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: .25em .25em;
  border: none;
}

// top bar buscar fin



//seccion de detalle inicio

.section-detalle{
  background: url(../imgs/boxs/Background_Detalle.webp)no-repeat center;
  background-size: 100%;
}

.all-information{
  padding: 30% 0;
}

.info{
  width: 40%;
  margin-left: 5%;
}
.imagen{
  width: 40%;
  margin-right: 5%;
}

h1{
font-size: 16px;
color: $white1;
}

h2{
  font-size: 12px;
  color: $white2;
  margin: 2% 5% 0 5%;
}

.boton-aprende-mas{
  margin: 0 25% 0 25%;
  padding-top: 2%;
}

.row{
  --bs-gutter-x:auto;
}

//seccion de detalle fin

//pop up
.pop-up{
  color: $white1;
}

.background-popup1{
  background: url(../imgs/boxs/box-pop-up-1-mobile.webp)no-repeat center;
  background-size:contain;
  background-color: none;
}

.background-popup{
  background: url(../imgs/boxs/box-pop-up.webp)no-repeat center;
  background-size:contain;
  background-color: none;
}

.modal-content{
  background: none;
}


.checkbox{
  margin-left: 5%;
}

.imagen-boton-confirmar{
  width: 50%;
}

.form-check-input:checked {
  background-color: $red-dark;
  border-color: $red-dark;
}

//pop up fin 


//seccion de eventos similares 

.imagen-eventos-similares{
  padding: 0 5% 10% 5%;
}


.flechas{
  opacity: 100%;
}


//footer

.copyrigth-text {
  margin-top: 10%;
  padding: 5%;
  background-color: black;
  color: white;
  font-size: 10px;
}

//} //fin media de celular





@media (min-width: 1025px) and (max-width: 1920px) {


  //header compu
  .menu {
    display: none;
  }

  .lupa {
    display: none;
  }

  .logo-top-bar {
    padding: 0.5em;
    margin: 0 0 0 1%;
    width: 5%;
  }

  //fin header compu

  //seccion de detalle inicio

.section-detalle{
  background: url(../imgs/boxs/Background_Detalle_desktop.webp)no-repeat center;
  background-size:contain;
  margin: 2% 0;
}

.all-information{
  padding: 15% 20% 7% 20%;
}

.info{
  width: 100%;
  margin-left: 20%;
  margin-top: -10%;
}

.imagen{
  width: 100%;
  margin-right: 20%;
  margin-top: -10%;
}

h1{
font-size: 28px;
}

h2{
  font-size: 18px;
  margin: 7% 20% 0 20%;
}

.boton-aprende-mas{
  margin: 0 0 0 50%;
}

.row{
  --bs-gutter-x:auto;
}

//seccion de detalle fin

//seccion pop up


.background-popup1{
  background: url(../imgs/boxs/box-pop-up-large-desktop.webp)no-repeat center;
  background-size: contain;
}

.background-popup{
  background: url(../imgs/boxs/box-pop-up-1-desktop.webp)no-repeat center;
  background-size: contain;
}

.contenido-popup{
  padding: 20% 10%;
}

//seccion pop up


//seccion de eventos similares 

.imagen-eventos-similares{
  padding: 0 5% 10% 5%;
}


.flechas{
  opacity: 100%;
}
  //fin de seccion de detalle


  //inicio de seccion de eventos similare

  .eventos-similares{
    margin: 5% 25% 0 25%;
  }

  .carousel-item{
    width: 70%;
    margin-left: 15%;
  }

  //fin de seccion de detalle

  //footer
  .copyrigth-text {
    margin-top: 5%;
    padding: 1%;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 15px;
  }

}