//VARIABLES
$white: #ffffff;
$white1: #E6E6E6;
$white2: #CCCCCC;
$black: #000000;
$gray: #b5b5b6;
$light-purple: #9a93ad;
$red-light: #d71618;
$red-dark: #cd0f03;

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../imgs/bg.png) repeat center center;
}

.menu {
  display: none;
}

@media screen and (max-width: 820px) {

  //menu amburguesa inicio
  .menu {
    font-size: 40px;
    color: $white;
    display: inline-block;
    margin: 0 0 0 2%;
  }

  .header_menu {
    background-color: $black;
  }

  .menu-body {
    background: url(../imgs/rayo.png);
    background-color: $red-light;
  }

  .logo-menu {
    width: 20%;
    margin: 0 0 0 40%;
  }

  .imagenlogo {
    text-align: center;
  }

  .boton-cerrar {
    background-color: $white;
  }

  hr {
    color: $white;
    width: 5em;
    margin: auto;
    border: 1.5px solid;
  }

  .elementos-menu {
    text-align: center;

  }

  .menu-title {
    width: 40%;
    margin: 0 0 1em 0;
  }

  .menu-item {
    margin: 0.5em;
  }

  //menu amburguesa Fin


  // top bar inicio
  .top-bar {
    background-color: $black;
  }

  .logo-top-bar {
    padding: 0.5em;
    margin: -4% 0 0 28%;
    width: 20%;
  }

  .boton-buscar {
    color: $white;
    background-color: $black;
    border: none;
  }

  // top bar fin


  // top bar buscar inicio

  .lupa {
    text-decoration: none;
    font-size: 2em;
    color: $white;
  }


  .boton-buscar {
    color: $white;
    background-color: $black;
    border: none;
  }

  .barra-buscar {
    margin: 0 10%;
  }

  .icono-buscar {
    left: 88%;
    top: 1em;
    position: absolute;
  }

  .mob-close {
    color: #ffff;
    font-size: 2em;
    background: none;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    border: none;
  }

  // top bar buscar fin

  // top bar buscar fin
  .welcome-section{
    background:url(../imgs/p5.png) no-repeat;
    background-size:contain;
    height:100%;
    width: 100%;
    left:0;
    top:0;
  }





}//fin media de celular
